language: java go
sudo: false
jdk:
  - openjdk7

before_script:
  - cd $TRAVIS_BUILD_DIR && git clone https://github.com/pingcap/tidb.git
  - cd $TRAVIS_BUILD_DIR/tidb && make parser && make server
  - cd $TRAVIS_BUILD_DIR/tidb/tidb-server && ./tidb-server &
  - cd $TRAVIS_BUILD_DIR

script:
  - mvn clean test

after_success:
  - echo "success"