language: java
sudo: false
jdk:
  - openjdk7

before_script:
  - cd $TRAVIS_BUILD_DIR
  - mkdir -p $TRAVIS_BUILD_DIR/go/src $TRAVIS_BUILD_DIR/go/pkg $TRAVIS_BUILD_DIR/go/bin
  - export GOPATH=$TRAVIS_BUILD_DIR/go
  - export PATH=$PATH:$GOPATH/bin
  - cd $TRAVIS_BUILD_DIR/go/src && mkdir -p github.com/pingcap
  - cd github.com/pingcap && git clone https://github.com/pingcap/tidb.git
  - cd tidb && make parser && make godep
  - git rev-parse HEAD
  - cd tidb-server && godep go build
  - ./tidb-server -L fatal &
  - cd $TRAVIS_BUILD_DIR

script:
  - mvn clean test

after_success:
  - echo "success"

after_failure:
  - echo "fail"
